<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="layout/head :: head"></th:block>
  <title>경기 등록</title>
</head>

<body>
<div class="wrapper">

  <!-- 사이드바 -->
  <th:block th:replace="layout/aside :: aside"></th:block>

  <!-- 메인 컨텐츠 -->
  <div class="content-wrapper">

    <section class="content-header">
      <h1>선수 등록</h1>
    </section>

    <section class="content">
      <div class="card">
        <div class="card-body">

          <form id="playerForm">

            <!-- 팀 (고정) -->
            <div class="form-group">
              <label>우리 팀</label>
              <select class="form-control" disabled>
                <option>카리스FC</option>
              </select>
              <input type="hidden" id="teamId" value="1">
            </div>

            <!-- 선수 이름 -->
            <div class="form-group">
              <label>선수 이름</label>
              <input type="text"
                     id="name"
                     class="form-control"
                     placeholder="선수 이름 입력">
            </div>

            <!-- 생년월일 -->
            <div class="form-group">
              <label>생년월일</label>
              <input type="text"
                     id="birthDate"
                     class="form-control"
                     placeholder="ex) 1991-12-13">
            </div>


            <!-- 포지션 -->
            <div class="form-group">
              <label>포지션</label>
              <select id="position" class="form-control">
                <option value="">선택 안 함</option>
                <option value="FW">FW</option>
                <option value="MF">MF</option>
                <option value="DF">DF</option>
              </select>
            </div>

            <!-- 등번호 -->
            <div class="form-group">
              <label>등번호</label>
              <input type="number"
                     id="backNumber"
                     class="form-control"
                     min="0">
            </div>

            <div class="text-right mt-4">
              <button type="button" id="btnSave" class="btn btn-primary">
                저장
              </button>
              <a href="/admin/players" class="btn btn-secondary">
                취소
              </a>
            </div>

          </form>

        </div>
      </div>
    </section>

  </div>
</div>

<script src="/js/player/admin/form.js"></script>
</body>
</html>